In [226]:
import pandas as pd
from functools import reduce

df = pd.read_excel('assignment-01-data-unformated.xlsx')
df = df.reset_index(drop=False)

dfl = list()
col = ['soft corals','sea fans','blue corals','hard corals','sea pens']
for x in range(0,5):
    df1 = df.iloc[:,:11]
    df1.columns = df1.iloc[0]
    df1 = df1[1:]
    res = pd.melt(df1, id_vars=['name','longitude','latitude'], var_name=['Year'])
    res = res.rename(columns = {'value':col[x]})
    dfl.append(res)
    df.drop(df.columns[[3,4,5,6,7,8,9,10]], axis=1, inplace=True)
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['name','longitude','latitude','Year'],
                                            how='outer'), dfl)
data = pd.melt(df_merged, id_vars=['name','longitude','latitude','Year'], var_name=['Corals'])

,level_0,level_1,level_2,soft corals,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,...,Unnamed: 30,Unnamed: 31,sea pens,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,name,longitude,latitude,2017.0000,2016.0000,2015.0000,2014.0000,2013.0000,2012.0000,2011.0000,...,2011.0000,2010.0000,2017.0000,2016.0000,2015.00000,2014.0000,2013.0000,2012.0000,2011.0000,2010.0000
1,site01,143.515,-11.843,0.8387,0.8021,0.7534,0.7499,0.5770,0.5643,0.5543,...,0.1934,NaN,0.1578,0.1265,0.12450,0.1076,0.0876,0.0851,0.0812,0.0533
2,site02,147.898,18.937,0.2123,0.1923,0.1721,0.1578,0.1480,NaN,NaN,...,NaN,NaN,0.8013,0.7012,0.30890,0.2948,0.2890,0.2861,NaN,NaN
3,site03,144.081,-10.321,0.7534,0.6023,0.3721,0.2689,0.2589,NaN,NaN,...,NaN,NaN,0.0934,0.0912,0.09012,0.0901,0.0879,0.0859,NaN,NaN
4,site04,150.444,-20.414,0.1245,0.1178,0.1134,0.1098,0.1089,0.1067,0.1023,...,0.1597,0.1595,0.4123,0.3823,0.36210,0.3412,0.3076,0.2918,0.2901,0.2699
5,site05,143.786,-13.107,0.9423,0.9123,0.7623,0.6023,0.3023,0.2845,0.2913,...,NaN,NaN,0.3723,0.3612,0.36100,0.3534,0.3512,0.3479,0.3467,0.3019
6,site06,146.589,-17.981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.6787,0.6034,0.59230,0.5256,0.5023,0.4911,0.4901,0.4798
7,site07,145.043,-14.383,0.6789,0.6078,0.5876,0.5645,0.5512,0.4012,0.3998,...,0.1503,NaN,0.4012,0.3834,0.36780,0.3467,0.3248,0.3035,0.3010,0.2556
8,site08,145.715,-16.091,0.6523,0.6321,0.6012,0.6003,0.5889,NaN,NaN,...,NaN,NaN,0.3900,0.1045,0.04340,0.0419,0.0389,0.0371,NaN,NaN

In [227]:
df.loc[2,'level_2'] = -18.937
df

,level_0,level_1,level_2,soft corals,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,...,Unnamed: 30,Unnamed: 31,sea pens,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,name,longitude,latitude,2017.0000,2016.0000,2015.0000,2014.0000,2013.0000,2012.0000,2011.0000,...,2011.0000,2010.0000,2017.0000,2016.0000,2015.00000,2014.0000,2013.0000,2012.0000,2011.0000,2010.0000
1,site01,143.515,-11.843,0.8387,0.8021,0.7534,0.7499,0.5770,0.5643,0.5543,...,0.1934,NaN,0.1578,0.1265,0.12450,0.1076,0.0876,0.0851,0.0812,0.0533
2,site02,147.898,-18.937,0.2123,0.1923,0.1721,0.1578,0.1480,NaN,NaN,...,NaN,NaN,0.8013,0.7012,0.30890,0.2948,0.2890,0.2861,NaN,NaN
3,site03,144.081,-10.321,0.7534,0.6023,0.3721,0.2689,0.2589,NaN,NaN,...,NaN,NaN,0.0934,0.0912,0.09012,0.0901,0.0879,0.0859,NaN,NaN
4,site04,150.444,-20.414,0.1245,0.1178,0.1134,0.1098,0.1089,0.1067,0.1023,...,0.1597,0.1595,0.4123,0.3823,0.36210,0.3412,0.3076,0.2918,0.2901,0.2699
5,site05,143.786,-13.107,0.9423,0.9123,0.7623,0.6023,0.3023,0.2845,0.2913,...,NaN,NaN,0.3723,0.3612,0.36100,0.3534,0.3512,0.3479,0.3467,0.3019
6,site06,146.589,-17.981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.6787,0.6034,0.59230,0.5256,0.5023,0.4911,0.4901,0.4798
7,site07,145.043,-14.383,0.6789,0.6078,0.5876,0.5645,0.5512,0.4012,0.3998,...,0.1503,NaN,0.4012,0.3834,0.36780,0.3467,0.3248,0.3035,0.3010,0.2556
8,site08,145.715,-16.091,0.6523,0.6321,0.6012,0.6003,0.5889,NaN,NaN,...,NaN,NaN,0.3900,0.1045,0.04340,0.0419,0.0389,0.0371,NaN,NaN

In [229]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['name','longitude','latitude','Year'],
                                            how='outer'), dfl)
data = pd.melt(df_merged, id_vars=['name','longitude','latitude','Year'], var_name=['Corals'])

In [230]:
data = pd.melt(df_merged, id_vars=['name','longitude','latitude','Year'], var_name=['Corals'])
for x in range(320):
    data.loc[x,'value'] = data.loc[x,'value']*100
data

       name longitude latitude  Year       Corals  value
0    site01   143.515  -11.843  2017  soft corals  83.87
1    site02   147.898  -18.937  2017  soft corals  21.23
2    site03   144.081  -10.321  2017  soft corals  75.34
3    site04   150.444  -20.414  2017  soft corals  12.45
4    site05   143.786  -13.107  2017  soft corals  94.23
5    site06   146.589  -17.981  2017  soft corals    NaN
6    site07   145.043  -14.383  2017  soft corals  67.89
7    site08   145.715  -16.091  2017  soft corals  65.23
8    site01   143.515  -11.843  2016  soft corals  80.21
9    site02   147.898  -18.937  2016  soft corals  19.23
10   site03   144.081  -10.321  2016  soft corals  60.23
11   site04   150.444  -20.414  2016  soft corals  11.78
12   site05   143.786  -13.107  2016  soft corals  91.23
13   site06   146.589  -17.981  2016  soft corals    NaN
14   site07   145.043  -14.383  2016  soft corals  60.78
15   site08   145.715  -16.091  2016  soft corals  63.21
16   site01   143.515  -11.843  2015  soft corals  75.34
17   site02   147.898  -18.937  2015  soft corals  17.21
18   site03   144.081  -10.321  2015  soft corals  37.21
19   site04   150.444  -20.414  2015  soft corals  11.34
20   site05   143.786  -13.107  2015  soft corals  76.23
21   site06   146.589  -17.981  2015  soft corals    NaN
22   site07   145.043  -14.383  2015  soft corals  58.76
23   site08   145.715  -16.091  2015  soft corals  60.12
24   site01   143.515  -11.843  2014  soft corals  74.99
25   site02   147.898  -18.937  2014  soft corals  15.78
26   site03   144.081  -10.321  2014  soft corals  26.89
27   site04   150.444  -20.414  2014  soft corals  10.98
28   site05   143.786  -13.107  2014  soft corals  60.23
29   site06   146.589  -17.981  2014  soft corals    NaN
..      ...       ...      ...   ...          ...    ...
290  site03   144.081  -10.321  2013     sea pens   8.79
291  site04   150.444  -20.414  2013     sea pens  30.76
292  site05   143.786  -13.107  2013     sea pens  35.12
293  site06   146.589  -17.981  2013     sea pens  50.23
294  site07   145.043  -14.383  2013     sea pens  32.48
295  site08   145.715  -16.091  2013     sea pens   3.89
296  site01   143.515  -11.843  2012     sea pens   8.51
297  site02   147.898  -18.937  2012     sea pens  28.61
298  site03   144.081  -10.321  2012     sea pens   8.59
299  site04   150.444  -20.414  2012     sea pens  29.18
300  site05   143.786  -13.107  2012     sea pens  34.79
301  site06   146.589  -17.981  2012     sea pens  49.11
302  site07   145.043  -14.383  2012     sea pens  30.35
303  site08   145.715  -16.091  2012     sea pens   3.71
304  site01   143.515  -11.843  2011     sea pens   8.12
305  site02   147.898  -18.937  2011     sea pens    NaN
306  site03   144.081  -10.321  2011     sea pens    NaN
307  site04   150.444  -20.414  2011     sea pens  29.01
308  site05   143.786  -13.107  2011     sea pens  34.67
309  site06   146.589  -17.981  2011     sea pens  49.01
310  site07   145.043  -14.383  2011     sea pens  30.10
311  site08   145.715  -16.091  2011     sea pens    NaN
312  site01   143.515  -11.843  2010     sea pens   5.33
313  site02   147.898  -18.937  2010     sea pens    NaN
314  site03   144.081  -10.321  2010     sea pens    NaN
315  site04   150.444  -20.414  2010     sea pens  26.99
316  site05   143.786  -13.107  2010     sea pens  30.19
317  site06   146.589  -17.981  2010     sea pens  47.98
318  site07   145.043  -14.383  2010     sea pens  25.56
319  site08   145.715  -16.091  2010     sea pens    NaN

[320 rows x 6 columns]

In [232]:
from pandas import ExcelWriter

writer = ExcelWriter('excel1.xlsx')
data.to_excel(writer)
writer.save()

In [233]:
data

       name longitude latitude  Year       Corals  value
0    site01   143.515  -11.843  2017  soft corals  83.87
1    site02   147.898  -18.937  2017  soft corals  21.23
2    site03   144.081  -10.321  2017  soft corals  75.34
3    site04   150.444  -20.414  2017  soft corals  12.45
4    site05   143.786  -13.107  2017  soft corals  94.23
5    site06   146.589  -17.981  2017  soft corals    NaN
6    site07   145.043  -14.383  2017  soft corals  67.89
7    site08   145.715  -16.091  2017  soft corals  65.23
8    site01   143.515  -11.843  2016  soft corals  80.21
9    site02   147.898  -18.937  2016  soft corals  19.23
10   site03   144.081  -10.321  2016  soft corals  60.23
11   site04   150.444  -20.414  2016  soft corals  11.78
12   site05   143.786  -13.107  2016  soft corals  91.23
13   site06   146.589  -17.981  2016  soft corals    NaN
14   site07   145.043  -14.383  2016  soft corals  60.78
15   site08   145.715  -16.091  2016  soft corals  63.21
16   site01   143.515  -11.843  2015  soft corals  75.34
17   site02   147.898  -18.937  2015  soft corals  17.21
18   site03   144.081  -10.321  2015  soft corals  37.21
19   site04   150.444  -20.414  2015  soft corals  11.34
20   site05   143.786  -13.107  2015  soft corals  76.23
21   site06   146.589  -17.981  2015  soft corals    NaN
22   site07   145.043  -14.383  2015  soft corals  58.76
23   site08   145.715  -16.091  2015  soft corals  60.12
24   site01   143.515  -11.843  2014  soft corals  74.99
25   site02   147.898  -18.937  2014  soft corals  15.78
26   site03   144.081  -10.321  2014  soft corals  26.89
27   site04   150.444  -20.414  2014  soft corals  10.98
28   site05   143.786  -13.107  2014  soft corals  60.23
29   site06   146.589  -17.981  2014  soft corals    NaN
..      ...       ...      ...   ...          ...    ...
290  site03   144.081  -10.321  2013     sea pens   8.79
291  site04   150.444  -20.414  2013     sea pens  30.76
292  site05   143.786  -13.107  2013     sea pens  35.12
293  site06   146.589  -17.981  2013     sea pens  50.23
294  site07   145.043  -14.383  2013     sea pens  32.48
295  site08   145.715  -16.091  2013     sea pens   3.89
296  site01   143.515  -11.843  2012     sea pens   8.51
297  site02   147.898  -18.937  2012     sea pens  28.61
298  site03   144.081  -10.321  2012     sea pens   8.59
299  site04   150.444  -20.414  2012     sea pens  29.18
300  site05   143.786  -13.107  2012     sea pens  34.79
301  site06   146.589  -17.981  2012     sea pens  49.11
302  site07   145.043  -14.383  2012     sea pens  30.35
303  site08   145.715  -16.091  2012     sea pens   3.71
304  site01   143.515  -11.843  2011     sea pens   8.12
305  site02   147.898  -18.937  2011     sea pens    NaN
306  site03   144.081  -10.321  2011     sea pens    NaN
307  site04   150.444  -20.414  2011     sea pens  29.01
308  site05   143.786  -13.107  2011     sea pens  34.67
309  site06   146.589  -17.981  2011     sea pens  49.01
310  site07   145.043  -14.383  2011     sea pens  30.10
311  site08   145.715  -16.091  2011     sea pens    NaN
312  site01   143.515  -11.843  2010     sea pens   5.33
313  site02   147.898  -18.937  2010     sea pens    NaN
314  site03   144.081  -10.321  2010     sea pens    NaN
315  site04   150.444  -20.414  2010     sea pens  26.99
316  site05   143.786  -13.107  2010     sea pens  30.19
317  site06   146.589  -17.981  2010     sea pens  47.98
318  site07   145.043  -14.383  2010     sea pens  25.56
319  site08   145.715  -16.091  2010     sea pens    NaN

[320 rows x 6 columns]

In [ ]:
import pandas as pd
df = pd.read_excel('assignment-01-data-unformated.xlsx')